body {
  font-family: 'Roboto', 'Memphis', Arial, sans-serif;
  background: url("../images/dark_embroidery.png");
  margin-right: 30px!important;
  text-align: center;
}
body h1 {
  color: #CC3299;
  margin-top: 50px;
  top: 12px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Pacifico', cursive;
  font-size: 44px;
  display: block;
  text-align: center;
  text-shadow: 2px 2px #000000;
  margin-bottom: 30px;
  line-height: 140%;
}
@media (min-width: 1200px) {
  body h1 {
    line-height: 100%;
  }
}
.icon-wrapper {
  width: 100%;
}
.dryer {
  background: url("../images/dryer.svg");
  width: 55px;
  height: 45px;
  display: inline-block;
  background-size: 60px 60px;
  top: 20px;
}
.cloudcat {
  background: url("../images/cloudcat.svg");
  width: 55px;
  height: 60;
  display: inline-block;
  top: 5px;
  background-size: cover;
}
#recommendation {
  padding: 20px 20px 0px 20px;
  text-align: center;
  position: relative;
}
#recommendation p {
  font-size: 32px;
  font-weight: bold;
}
#recommendation p.report {
  font-size: 24px;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
}
.container {
  width: 100%;
  padding-top: 4%;
}
.dashed-box {
  border-style: dashed;
  border-width: 2px;
  border-radius: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px;
  display: block;
}
.dashed-box-outer {
  border-style: dashed;
  border-width: 2px;
  border-radius: 15px;
  max-width: 600px;
  display: block;
  width: 100%;
  padding: 10px;
  border-color: #AC2B87;
  margin-left: auto;
  margin-right: auto;
}
.dashed-box-inner {
  border-style: dashed;
  border-width: 2px;
  border-radius: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px;
  display: block;
  border-color: #FAE471;
  background-color: #34ABAC;
  padding-left: 20px;
  padding-right: 20px;
}
.btn.change-zipcode {
  background: #238E23;
  color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
}
p {
  font-family: 'Roboto', 'Memphis', Arial, sans-serif;
  display: block;
  font-size: 24px;
  padding: 10px;
}
.newcity {
  font-size: 20px;
  padding-bottom: 0px;
}
.looking-at {
  text-transform: uppercase;
  font-size: 12px;
  color: #191919;
  font-weight: 500;
}
