{% load staticfiles %}

<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="{% static 'css/curly.css' %}">

		<link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap-theme.min.css' %}">

		<!-- Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>